/node_modules/
/.idea/
/.vscode/
/build/
/.github/workflows/firebase-hosting-merge.yml
/.firebaserc
/firebase.json
/.github/workflows/firebase-hosting-pull-request.yml
/.firebase/hosting.cHVibGlj.cache
/.firebase/hosting.YnVpbGQ.cache
/package-lock.json
/secrets
/firestore.indexes.dev.json
